@media(max-width: 699px){
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 500;
        font-style: normal;
        font-display: swap; 
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 800;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.ttf') format('truetype');
    }
    
    
    #wrapper{ max-width: 1920px; margin: 0 auto; min-width: 320px; font-family:'Apple SD Gothic Neo' ; overflow: hidden;}
    
    .section1 .wrap{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../images/background.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 70px 40px;
        display: flex;
        flex-direction: column;
    }
    .section1 .wrap .left{
        width: 100%;
        margin-bottom: 70px;
    }
    .section1 .wrap .left .title{
        display: flex;
        margin-bottom: 90px;
    }
    .section1 .wrap .left .title span{
        color: #fff;
        font-size: 19px;
        font-weight: 800;
    }
    .section1 .wrap .left .title h1{
        width: 270px;
        margin: 0 auto;
    }
    .section1 .wrap .left .title h1 img{
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(282deg) brightness(111%) contrast(101%);
    }
    .section1 .wrap .left .goal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .section1 .wrap .left .goal h2{
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .section1 .wrap .left .goal p{
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 29px;
        width: 100%;
    }
    .section1 .wrap .right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }
    .section1 .wrap .right button{
        border: 1px solid #fff;
        width: 80%;
        padding: 20px 0;
        margin-top: auto;
        margin-right: 20px;
        font-size: 23px;
        border-radius: 6px;
        order: 2;
    }
    .section1 .wrap .right button a{
        color: #fff;
    }
    .section1 .wrap .right img{
        order: 1;
    }
    
     /* section2 */
     .section2{
        color: #fff;
        background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../images/section2_bacground.jpg);
        background-size: cover;
    }
    .section2 .wrap{
        display: flex;
        flex-direction: column;
        padding: 70px 40px;
        justify-content: center;
    }
    .section2 .wrap .left{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .section2 .wrap .left h2{
        font-size: 23px;
        font-weight: 700;
        margin: 0 auto 64px auto;
    }
    .section2 .wrap .ui{
        display: flex;
        flex-direction: column;
        
    }
    .section2 .wrap .left .font{
        margin-bottom: 20px;
    }
    .section2 .wrap .left .font h3{
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .section2 .wrap .left .font p{
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
    }
    .section2 .wrap .left .color h3{
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .section2 .wrap .left .color p{
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
    }
    .section2 .wrap .middle{
        display: flex;
        flex-direction: column;
    }
    .section2 .wrap .middle .font{
        display: flex;
    }
    .section2 .wrap .middle .main{
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-right: 30px;
    }
    .section2 .wrap .middle .main h4{
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #fff;
        opacity: calc(0.7);
    }
    .section2 .wrap .middle .main span:nth-child(2){
        font-weight: 900;
        font-size: 25px;
    }
    .section2 .wrap .middle .main span:nth-child(3){
        font-weight: 700;
        font-size: 20px;
    }
    .section2 .wrap .middle .sub{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .section2 .wrap .middle .sub h4{
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #fff;
        opacity: calc(0.7);
    }
    .section2 .wrap .middle .sub span:nth-child(2){
        font-weight: 700;
        font-size: 20px;
    }
    .section2 .wrap .middle .sub span:nth-child(3){
        font-weight: 600;
        font-size: 18px;
    }
    .section2 .wrap .middle .sub span:nth-child(4){
        font-weight: 300;
    }
    .section2 .wrap .middle .color{
        margin-top:30px;
    }
    .section2 .wrap .middle .color h3{
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #fff;
        opacity: calc(0.7);
    }
    .section2 .wrap .middle .color .list{
        display: flex;
    }
    .section2 .wrap .middle .color .top{
        display: flex;
        margin-bottom: 30px;
    }
    .section2 .wrap .middle .color .top .blue{
        width: 70px ;
        height: 53px;
        background-color: #3874e1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2 .wrap .middle .color .top .gray{
        width: 70px ;
        height: 53px;
        background-color: #c6c6c6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2 .wrap .middle .color .bottom{
        display: flex;
    }
    .section2 .wrap .middle .color .bottom .white{
        width: 70px ;
        height: 53px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2 .wrap .middle .color .bottom .white span{
        color: #000;
        font-size: 13px;
    }
    .section2 .wrap .middle .color .bottom .black span{
        font-size: 13px;
    }
    .section2 .wrap .middle .color .top .blue span{
        font-size: 13px;
    }
    .section2 .wrap .middle .color .top .gray span{
        font-size: 13px;
    }
    .section2 .wrap .middle .color .bottom .black{
        width: 70px ;
        height: 53px;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2 .wrap .right{
        padding: 30px 0px 0px;
        border-top: 1PX solid #fff;
        margin-top: 50px;
    }
    .section2 .wrap .right h3{
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .section2 .wrap .right p{
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
    }
    
    /* section3 */
    .section3{
        background-color: #000;
        color: #fff;
    }
    .section3 .wrap{
        padding: 70px 40px;
    }
    .section3 .wrap .top{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 70px;
    }
    .section3 .wrap .top h4{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
        text-align: center;
    }
    .section3 .wrap .top p{
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
    }
    .section3 .wrap .bottom{
        display: flex;
        justify-content: center;
    }
    .section3 .wrap .bottom .asis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 180px;
    }
    .section3 .wrap .bottom .asis span{
        font-size: 18px;
        font-weight: 800;
        margin: 0 auto 15px auto;
    }
    .section3 .wrap .bottom .asis .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .section3 .wrap .bottom .asis .list p{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .section3 .wrap .bottom .tobe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section3 .wrap .bottom .tobe span{
        font-size: 18px;
        font-weight: 800;
        color: #EC3824;
        margin-right: 90px;
        text-wrap: nowrap;
        margin: 0 auto 15px auto;
    }
    .section3 .wrap .bottom .tobe .list{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .section3 .wrap .bottom .tobe .list p{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        margin-left: 10px;
        line-height: 22px;
    }

    /* section4 */
    .section4 .wrap{
        padding: 70px 50px;
    }
    .section4 .wrap h2{
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .section4 .wrap p{
        margin-bottom: 80px;
    }
    .section4 .wrap .wireframe{
        display: flex;
        overflow: scroll;
        padding-bottom: 30px;
        gap: 30px;
    }
    .section4 .wrap .wireframe img{
        width: 80%;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    
    /* section5 */
    /* section5 */
    .section5{
        border-top: 1px solid#000   ;
    }
    .section5 .wrap{
        padding: 70px 50px;
    }
    .section5 .wrap .top .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .section5 .wrap .top .first h3{
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 50px;
    }
    .section5 .wrap .top .first img{
        filter: drop-shadow(9px 14px 15px #969696);
        border-radius: 16px;
    }
    .section5 .wrap .top .second{
        display: flex;
        flex-direction: column;
    }
    .section5 .wrap .top .second .left{
        width: 680px;
        border-radius: 16px;
        filter: drop-shadow(-16px 17px 15px #969696);
        order: 2;
    }
    .section5 .wrap .top .second p{
        font-size: 25px;
        font-weight: 800;
        order: 1;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .section5 .wrap .top .second .right{
        border-radius: 16px;
        filter: drop-shadow(9px 14px 15px #969696);
        order: 3;
        margin-top: 60px;
        width: 40%;
    }
    .section5 .wrap .bottom{
        display: flex;
        flex-direction: column;
    }
    .section5 .wrap .bottom img{
        border-radius: 16px;
        filter: drop-shadow(-11px 17px 15px #969696);
        order: 2;
        margin-top: 50px;
    }
    .section5 .wrap .bottom p{
        font-size: 25px;
        font-weight: 800;
        order: 1;
        margin-top: 80px;
        text-align: center;
    }
    
    
    
    
}